ultralytics==8.3.209
torch==2.8.0
easyocr==1.7.2
pillow==11.3.0
opencv-python==4.10.0.84
opencv-contrib-python==4.10.0.84
paddleocr==3.3.2
paddlepaddle==3.2.2
numpy==2.2.6
supabase==2.24.0
python-dotenv==1.2.1